$color-text-dark: #444;
$color-text-light: #ddd;
$margin-container: 40px;
$margin-collection: 40px;
body {
  background: $color-text-dark;
  font-family: 'Open Sans' sans-serif;
}
main {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: #fff;
}
.calendar.collection {
  flex: 0 0 60vw;
  height: calc(100vh - #{$margin-container*4});
  margin-top: 0;
  background: #fff;
  color: $color-text-dark;
  border-radius: 6px;
  overflow: scroll;
  border: none;
  padding: $margin-collection/2 $margin-collection/2 $margin-collection $margin-collection/2; //allow scrolling
  li.collection-item,
  li.collection-header {
    display: block;
    padding-left: $margin-collection;
  }
  li.collection-header {
    text-indent: -$margin-collection; //compensate for margin of the parent
  }
  li.collection-item {
    height: 80px;
    margin-left: $margin-collection;
    position: relative;
    &:before {
      content: attr(data-time);
      position: absolute;
      left: -$margin-collection;
      top: calc(100% - 10px);
    }
  }
}
aside {
  background: #e4e4e4;
  border-radius: 6px;
  height: calc(100vh - #{$margin-container*4});
  overflow: scroll;
  flex: 0 0 40vw;
  color: $color-text-dark;
  padding: 20px;
  fieldset {
    border: none;
  }
}

.input-field {
  label {
    position: static;
    color: $color-text-dark;
    font-weight: bold;
  }
  input, textarea {
    background: #fff;
    margin-bottom: 0;
    border: none;
  }
  .prefix {
    color: $color-text-light;
    position: absolute;
    left: .625em; // compensate for padding of the .input-field from material.css
    bottom: .625em; // .input-field padding-bottom
    & ~ label,
    & ~ input {
      margin-left: 0;
      width: 100%;
    }
    &.active {
      color: mix($color-text-dark, $color-text-light);
    }
  }
  input, button {
    height: 40px;
    line-height: 40px;
  }
  button {
    width: 100%;
    + button {
      margin-top: 10px;
    }
  }
}
